.hours {
  color: #000000;
  background-color: rgba(242, 242, 242, 1);
  display: flex;

  &__images {
    margin-right: 71px;
    margin-left: 131px;
  }

  &__title {
    font-size: 30px;
    line-height: 30px;
    font-weight: 700;
    margin-top: 100px;
  }

  &__text {
    font-size: 18px;
    line-height: 30px;
    font-weight: 400;
  }
}

.text--red {
  color: red;
}
